SERVICE_ARCHITECT_USERNAME=user@example.com
SERVICE_ARCHITECT_PASSWORD=change-me

# Optional overrides.
SERVICE_ARCHITECT_ID_TOKEN=
SERVICE_ARCHITECT_API_URL=https://0pc6ljy0hg.execute-api.us-east-1.amazonaws.com/test
